/* body {
    height: 100%; */
    /* background-image:  url("/assets/images/light\ wood.jpg"); */
    /* background-image:  linear-gradient(rgba(15, 15, 15, 0.45), rgba(15, 15, 15, 0.899)), url("/assets/images/wood.jpg"); */
    /* background-image: url("/giphy-homework/assets/images/light\ wood.jpg"); */
    /* background-repeat: no-repeat; */
/* } */



    body, html { 
        height: 100%;
        background: url("/giphy-homework/assets/images/light\ wood.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    


h2{
    font-family: 'Cherry Cream Soda';font-size: 50px;

}

label{
    font-family: 'Cherry Cream Soda';font-size: 22px;
    margin-top: 25px;
    /* color: rgb(145, 22, 22); */
    /* color: white; */
    color: rgb(63, 18, 59);
    font-size: 40px;
} 

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

#flower-input{
    border: 2px solid rgb(63, 18, 59);
    margin-left: 3%;
}

#add-flower{
    background: rgb(63, 18, 59);
    font-family: 'Bad Script';
    color: white; 
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin-left: 3%; 
    justify-content: center;
}
.flower-btn{
    background-color: rgb(63, 18, 59);
    margin-right: 25px;
    color: white;
    border: none;
    font-family: 'Bad Script';font-size: 25px;
    text-align: center; 
    margin-left: 3%;
    justify-content: center;
  

    
}


.giphy{
    margin-top:0px;
    background-color: rgb(63, 18, 59);
    
}





.container{
    margin-left: 3%;
    margin-top: 30px;
    margin-bottom: 100px;
}


/* The hero image- Resource: W3 Schools */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    /* background-image: linear-gradient(rgba(238, 234, 234, 0.769), rgba(252, 252, 252, 0.413)), url("/assets/images/sage.jpg"); */
    background-image: linear-gradient(rgba(238, 234, 234, 0.769), rgba(252, 252, 252, 0.413)), url("/giphy-homework/assets/images/sage.jpg");
    /* Set a specific height */
    height: 30%;
    
  
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: left;
    position: absolute;
    top: 15%;
    left: 3%;
    /* transform: translate(-50%, -50%); */
    color: rgb(63, 18, 59);
    font-family: 'Sofia';font-size: 22px;
  }

  #gifs-view{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: fit-content;
    max-height: fit-content;
    justify-content: space-between;
  }

  