


body, html { 
    height: 100%;
    
    background: url("../assets/images/wood\ with\ plant.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: rgb(63, 18, 59);
    width: 85px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    margin-top: 10px;
    font-style: italic;
    font-weight: bold;
}


/* Page Header Styles:  */

h1{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}    
  
h2{
    font-family: 'Cherry Cream Soda';font-size: 50px;
    margin-top: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.top-border{
 background-image: url("../assets/images/checker.jpg");
 height: 50px;
 display: flex; 
 justify-content: center;
 background-size: contain;
}

.hero-image {
    background-image: url("../assets/images/sage.jpg") ;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;    
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute; 
    top: 20%;
    color: rgb(63, 18, 59);
    font-family: 'Sofia';font-size: 22px;
    background-color: rgba(255, 255, 255, 0.571);
    margin: 30px;
    width: 550px;
    height: 150px;

    
  }


/* Flower Button Strip Styles:  */
.flower-btn{
    background-color: white;
    margin-right: 25px;
    color: rgb(63, 18, 59);
    border: none;
    font-family: 'Bad Script';font-size: 25px;
    text-align: center; 
    padding-left: 25px;
    padding-right: 25px;
    max-height: fit-content;
 }
 
 .flower-btn:hover{
     text-decoration: underline rgb(63, 18, 59);
 }
 
 #buttons-view{
     background-color: white;
     justify-content: center;
     height: 100px;
     display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    
 }


/* Search Form Styles:  */
#girl{
    /* display: inline-block; */
    width: 600px;
    height: 380px; 
    /* margin-left: 100px; */
    
    /* max-width: fit-content; */

    /* display: flex;
    justify-content: center;  */
    /* float: right; */
 

}

label{
    font-family: 'Cherry Cream Soda';font-size: 22px;
    /* color: rgb(145, 22, 22); */
    /* color: white; */
    color: rgb(63, 18, 59);
    font-size: 28px;
text-align: center;
margin-left: auto;
margin-right: auto;
width: 100%;
    margin-bottom: 35px;
    margin-top: 60px; 
  
} 



h3{
    color: rgb(63, 18, 59);
    font-family: 'Bad Script';font-size: 25px;
    text-align: center; 
   margin: auto;
   margin-bottom: 15px;
}


.form-content{
    background-color: white;
    height: 380px;
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
  width: 100%;
    /* display: flex;
    flex-direction: column; */
    /* margin: 0 auto; */
    /* width: 100%; */
   
}

.container-full{
    margin: auto;
    width: 100%;
    margin-top: 80px; 
    background-image: url("../assets/images/checker.jpg");    
    background-size: contain;
    height: 380px;
    justify-content: center;  
    max-height: fit-content;
    
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 75px;
}

  
#flower-input{
    border: 2px solid rgb(63, 18, 59);
    width: 10;
    margin: auto;
    margin-bottom: 15px;
   
}

#add-flower{
    background: rgb(63, 18, 59);
    font-family: 'Bad Script';
    color: white; 
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    margin: auto; 
    justify-content: center;
    border-radius: 25px;
    width: 90px;  
}



/* Gif Display Styles:  */


.container-gifs{
   
    display: flex;
    justify-content: center;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* background-color: tomato; */
    margin: auto;
}

  #gifs-view{
    display: flex;
    background-color: rgba(250, 250, 250, 0.584);
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center;  */
    padding: 15px;
    margin: auto;
    width: 100%;
/* max-width: fit-content;     */
margin-bottom: 150px;
  }

  .gif{
      border: 5px solid rgba(93, 163, 96, 0.434);
  }

   /* max width 980px, 768px, 640px */
   @media screen and  (max-width: 400px){

html{
    max-width: 400px;
    text-align: center;
    margin: auto;
}

label{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
    font-size: 25px;
 
}
.hero-text{
    max-width: 350px;
    display: flex;
    justify-content: center;
    margin: auto;
 
}
#gifs-view{
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: center;
}

   }

    /* @media screen and (min-width: 641px) and (max-width: 768px){
        margin-left: 15px;

        @media screen and (max-width: 640px){ */